# Determining what each dimenssion of the Substitute Confounder Means


Exploring different latent dimensions of the Books data, we see that each of the dimensions correspond to a different genre

In [ ]:
import os
import sys
import pickle
import warnings
import numpy as np 
import pandas as pd 
from ast import literal_eval
import matplotlib
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.model_selection import train_test_split



matplotlib.rcParams.update({'font.sans-serif' : 'Helvetica',
                            'axes.labelsize': 10,
                            'xtick.labelsize' : 6,
                            'ytick.labelsize' : 6,
                            'axes.titlesize' : 10})
import matplotlib.pyplot as plt

import seaborn as sns
color_names = ["windows blue",
               "amber",
               "crimson",
               "faded green",
               "dusty purple",
               "greyish"]
colors = sns.xkcd_palette(color_names)
sns.set(style="white", palette=sns.xkcd_palette(color_names), color_codes = False)


randseed = 29266137

In [ ]:
DATA_DIR = '/content/'

In [ ]:
books = pd.read_csv(os.path.join(DATA_DIR, 'books_clean.csv'))

In [ ]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [ ]:
import pickle

with open(os.path.join(DATA_DIR, 'book_params.pkl'), 'rb') as f:
    params = pickle.load(f)

id2user = pd.read_csv(os.path.join(DATA_DIR, 'id2user.csv'))
data = pd.read_csv(os.path.join(DATA_DIR, 'joinBooksUsers.csv'))

In [ ]:
U = params['U']

In [ ]:
#illustrate what each dimension of the pmf substitute confounders mean

print("Which movies has the k-th latent dimension on? \
(The latent dimensions capture book themes.)")
num_top = 5
for K in range(4):
    topids = U[:,K].argsort()[-num_top:][::-1]
    print("\n\n\nK = ", K)
    print([(i, data[data["userId"]==int(id2user[topid])]["booktitle"]) \
           for i, topid in enumerate(topids)])

K =  1

[(0, 103    Rich Dad, Poor Dad: What the Rich Teach Their Kids About Money--That the Poor and Middle Class Do Not!
Name: title, dtype: object), (1, 106    Creating Wealth : Retire in Ten Years Using Allen's Seven Principles of Wealth!
Name: title, dtype: object), (2, 152    Keep It Simple: And Get More Out of Life
Name: title, dtype: object), (3, 250    Lies and the Lying Liars Who Tell Them: A Fair and Balanced Look at the Right
Name: title, dtype: object), (4, 343    The Best Democracy Money Can Buy: The Truth About Corporate Cons, Globalization and High-Finance Fraudsters



K =  2

[(0, 43    Pride and Prejudice (Dover Thrift Editions)
Name: title, dtype: object), (1, 232    Frankenstein (Dover Thrift Editions)
Name: title, dtype: object), (2, 285   Little Women (Signet Classic)
Name: title, dtype: object), (3, 286    Emma (Signet Classics (Paperback))
Name: title, dtype: object), (4, 288    Great Expectations (Heinemann Guided Readers)



K =  3

[(0, 81    Black Beauty
Name: title, dtype: object), (1,  82    Anil's Ghost
Name: title, dtype: object), (2, 171   Skin and Bones
Name: title, dtype: object), (3, 170   James and the Giant Peach
Name: title, dtype: object), (4, 274    EYE ON CRIME: HARDY BOYS #153



K =  4

[(0, 116    Digital Fortress : A Thriller
Name: title, dtype: object), (1, 120    Angels &amp; Demons
Name: title, dtype: object), (2, 164   The Hitchhiker's Guide to the Galaxy
Name: title, dtype: object), (3, 179    Deception Point
Name: title, dtype: object), (4, 221   Nowhere To Run